layout {
    default_tab_template {
        // the default zellij tab-bar and status bar plugins
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    new_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane size="60%" split_direction="vertical" focus=true
        pane size="40%"
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="Text" cwd="/home/hayer/git_projects/virtualization-rnd"
    tab name="k9s" cwd="/home/hayer/git_projects/virtualization-rnd/tests/reports" focus=true hide_floating_panes=true {
        pane size="31%" split_direction="vertical" {
            pane focus=true size="50%"
            pane size="50%"
        }
        pane size="23%"  close_on_exit=false command="k9s" {
            args "--crumbsless" "--headless" "-c vm"
        }
        pane size="23%"  close_on_exit=false command="k9s" {
            args "--crumbsless" "--headless" "-c vd"
        }
        pane size="23%"  close_on_exit=false command="k9s" {
            args "--crumbsless" "--headless" "-c po"
        }
    }
    // tab name="Manual" cwd="/home/hayer/git_projects/virtualization-rnd" hide_floating_panes=true {
    //     pane size="60%" split_direction="vertical" {
    //         pane focus=true size="50%"
    //         pane size="50%"
    //     }
    //     pane size="40%" command="k9s" close_on_exit=false
    // }
    tab name="Task" cwd="/home/hayer/git_projects/virtualization-rnd/tests/reports" hide_floating_panes=true {
        pane size="60%" split_direction="vertical" focus=true
        pane size="40%"
    }
}
